<h1>New Deploy <small>for <%= @env.name.titleize %></small></h1>

<%= form_for @deploy_option_form, :url => deploys_path, :class => "form-control", :html => {:'data-type' => 'json'} do |f| %>
  <% if @deploy_option_form.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@deploy_option_form.errors.count, "error") %> prohibited this deploy step from being saved:</h2>
      <ul>
      <% @deploy_option_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p></p>

  <% if @rev_nums %>
    <div class="field form-group">
      <%= f.label :revision_number %>
      <div class="controls">
      <%= f.select :revision_number, @rev_nums, { }, { :class => "form-control" } %>
      </div>
    </div>
  <% end %>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#railsOptions">
            Rails Options<span class="caret">
          </a>
        </h4>
      </div>
      <div id="railsOptions" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="field form-group">
            <div class="checkbox">
              <%= f.label "Run rake db:migrate" %>
              <%= f.check_box :db_migrate, :class => "checkbox" %>
            </div>
          </div>

          <div class="field form-group">
            <div class="checkbox">
              <%= f.label "Run bundle install in vendor" %>
              <%= f.check_box :bundle_install, :class => "checkbox" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#phpOptions">
            PHP Options<span class="caret">
          </a>
        </h4>
      </div>
      <div id="phpOptions" class="panel-collapse collapse">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>

  <div class="field form-group">
    <div class="checkbox">
      <%= f.label :restart_web_server %>
      <%= f.check_box :restart_web_server, :class => "checkbox" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :Build, :class => "btn btn-default", data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
