<%= form_for(@environment, :url => @url, :class => "form-control", :remote => true, :html => {:'data-type' => 'json'}) do |f| %>
  <% if @environment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@environment.errors.count, "error") %> prohibited this environment from being saved:</h2>

      <ul>
      <% @environment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <div class="controls">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
<div class="control-group checkbox-group">
  <div class="controls">
    <%= hidden_field_tag "environment[reimbursable_ids][]", nil%>
    <% Server.all.each do |server| %>
      <label class="checkbox">
        <%= check_box_tag "environment[server_ids][]", server.id, @environment.server_ids.include?(server.id), id: dom_id(server) %>
        <%= server.name %>
      </label>
    <% end %>
  </div>
</div>

  <div class="actions">
    <%= f.submit :Submit, :class => "btn btn-default" %>
  </div>
<% end %>
