<tr>
  <td><%= link_to app.name, app_path(app) %></td>
  <td><%= app.description %></td>
  <% if show_owner %>
  <td><%= link_to app.user.email, app.user %></td>
  <% end %>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to 'Edit', edit_app_path(app) %></li>
        <li><%= link_to 'Delete', app_path(app), :method => 'delete', data: { confirm: 'Are you sure?'} %></li>
      </ul>
    </div>
  </td>
</tr>
