<div class="row">
  <div class="col-md-6"><strong>Name:</strong></div>
  <div class="col-md-6"><%= @app.name.titleize %></div>
</div>
<div class="row">
  <div class="col-md-6"><strong>Description:</strong></div>
  <div class="col-md-6"><%= @app.description %></div>
</div>

<div class="row">
  <div class="col-md-6"><strong>Environments:</strong></div>
  <div class="col-md-6">
  </div>
</div>
<div>
<%
  app.environments.each do |env|
    limitedRecs = env.deploys.limit(5).order("created_at DESC").to_a
    finishCount = 0
    failedCount = 0
    pendingCount = env.deploys.where(:status => "pending").count
    limitedRecs.each {|dep| if dep.status == 'finished' then finishCount = finishCount+1 end }
    limitedRecs.each {|dep| if dep.status == 'finished' then failedCount = failedCount+1 end } 
    lastFinishedDeploy = env.deploys.where(:status => "finished").last
    lastDeploy = env.deploys.last

    if lastDeploy
      case lastDeploy.status
      when 'finished'
        lastDeployClass = 'success'
      when 'failed'
        lastDeployClass = 'danger'
      when 'pending'
        lastDeployClass = 'info'
      when 'processing'
        lastDeployClass = 'info'
      end
    end
%>
    <div class="alert alert-<%= lastDeployClass %> pointer envClickable" id='env_<%= env.id %>'>
      <div class="clearfix">
        <h4 class='pull-left'>
          <%= env.name %>
        </h4>
        <h4 class='pull-right'>
          <small><span class="label label-info"><%= pluralize(pendingCount, "pending deploy") %></span></small>
        </h4>
      </div>
      <div>
      <% if lastDeploy %>
        <div class="row">
          <div class="col-md-12 no-padding"><strong>Last deploy/finished deploy:</strong></div>
        </div>
        <div class="row">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Status</th>
                <th>User</th>
                <% lastDeploy.deploy_options.each do |deploy_option| %>
                    <th><%= deploy_option.deploy_option_type.name.titleize %></th>
                <% end %>
                <th>At:</th>
              </tr>
            </thead>
            <tbody>
              <tr class='<%= lastDeployClass %>'>
                <td><%= lastDeploy.status.titleize %></td>
                <td><%= lastDeploy.user.email.split("@").first.titleize %></td>
                <% lastDeploy.deploy_options.each do |deploy_option| %>
                    <td><%= truncate(deploy_option.value, :length => 10) %></td>
                <% end %>
                <td>
                  <span title=<%= lastDeploy.updated_at.localtime.asctime.split.join('-') %>>
                    <%= distance_of_time_in_words_to_now(lastDeploy.updated_at, include_seconds = true) %> ago
                  </span>
                </td>
              </tr>
              <% if lastFinishedDeploy && 'finished' != lastDeploy.status %>
                <tr><td colspan='4' class="zigzag">&nbsp</td></tr>
                <tr class='success'>
                  <td><%= lastFinishedDeploy.status.titleize %></td>
                  <td><%= lastFinishedDeploy.user.email.split("@").first.titleize %></td>
                  <% lastFinishedDeploy.deploy_options.each do |deploy_option| %>
                      <td><%= truncate(deploy_option.value, :length => 10) %></td>
                  <% end %>
                  <td>
                    <span title=<%= lastFinishedDeploy.updated_at.localtime.asctime.split.join('-') %>>
                      <%= distance_of_time_in_words_to_now(lastFinishedDeploy.updated_at, include_seconds = true) %> ago
                    </span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      </div>
      <div class="clearfix">
        <div class='pull-left'>
          <%= finishCount %> of the last <%= limitedRecs.count %> builds succeeded.<br>
        </div>
        <div class='pull-right'>
          <%
          successRate = 0
          if env.deploys.count > 0
            successRate = (env.deploys.where(:status => 'finished').count.to_f/env.deploys.count.to_f)*100.0
          end
          %>

          <%= number_to_percentage(successRate, strip_insignificant_zeros: true, precision: 1) %> success overall
        </div>
      </div>
      <div>
      </div>
    </div>
  <% end %>
</div>
