<div class="well well-sm overflowAuto">
  <% if deploy_step.deploy_step_type_option.deploy_step_type.subtype == 'generic' %>
  <div class="col-md-5"><%= link_to deploy_step.deploy_step_type_option.deploy_step_type.name.titleize, [:edit, deploy_step], :class => 'deploy_step_details' %></div>
  <% else %>
  <div class="col-md-5"><%= link_to deploy_step.deploy_step_type_option.name.titleize, [:edit, deploy_step], :class => 'deploy_step_details' %></div>
  <% end %>
  <div class="col-md-7"><%= deploy_step.value.length == 0 ? deploy_step.deploy_step_type_option.name : deploy_step.value %></div>
  <br>
  <% if deploy_step.additional.is_a?(Hash) %>
    <% deploy_step.additional.each do |key, value| %>
      <div class="col-md-4"></div>
      <div class="col-md-4"><%= key %></div>
      <div class="col-md-4"><%= value %></div>
      <br>
    <% end %>
  <% elsif deploy_step.additional.is_a?(Array) %>
    <% deploy_step.additional.each do |value| %>
      <div class="col-md-4"></div>
      <div class="col-md-4"><%= value %></div>
      <div class="col-md-4"></div>
      <br>
    <% end %>
  <% end %>
</div>